.app__form-wrapper {
    margin: 20px 40px 0px 40px;
    border-bottom: 2px solid #ABAFB3;

    .app__form {
        margin-bottom: 30px;
    }

    .app__form--input {
        margin-top: 50px;
        border-radius: 3px;
        padding: 15px 500px 15px 10px;
        font-family: $formFont;
        font-size: 1.05rem;
    }

    .app__form--input::placeholder {
        font-size: 1.05rem;
        padding-bottom: 20px;
    }
    
    .app__form--submit {
        border-radius: 3px;
        margin-top: 60px;
        border: 2px solid $boxColorLightBlue;
        background-color: $boxColorLightBlue;
        text-align: center;
        width: 100px;
        padding: 25px 80px;
        font-size: 1.25rem;
        cursor: pointer;
    }
}