/*Theres an issue with formatting longer strings(tasks)*/

@mixin actionButtons($boxColor) {
    border: 1px solid $boxColor;
    border-radius: 30px;
    background-color: $boxColor;
    width: 35px;
    height: 35px;
}

.task__holder {
    display: flex;
    border: 3px solid $textColorGrey;
    border-radius: 10px;
    margin: 20px 40px 0px 40px;
}

.task__desc {
    font-family: $baseFont;
    font-size: $mobileSizeHeading;
    width: 100px;
    /*Set a fixed width, padding should also fix this*/
    padding-bottom: 10px;
    padding-right: 20px;
}

.task__holder--complete {
    @include actionButtons($textColorGreen);
    position: relative;
    left: 70%;
    align-self: center;
    cursor: pointer;
}

.task__holder--complete:hover {
    background-color: $textColorGreenHover;
}

.task__holder--delete {
    @include actionButtons($textColorRed);
    position: relative;
    left: 80%;
    align-self: center;
    cursor: pointer;
}

.task__holder--delete:hover {
    background-color: $textColorRedHover;
}

.task__holder--undo {
    @include actionButtons($boxColorLightBlue);
    position: relative;
    left: 70%;
    align-self: center;
    cursor: pointer;
}

.task__holder--undo:hover {
    background-color: $textColorBlue;
}

@media only screen and (max-width: 550px) {
    .task__holder {
        border: 3px solid $textColorGrey;
        border-radius: 10px;
        margin: 20px 40px 0px 40px;
    }

    .task__holder--complete {
        @include actionButtons($textColorGreen);
        position: relative;
        left: 40%;
        align-self: center;
        display: inline-block;
        cursor: pointer;
    }
    
    .task__holder--delete {
        display: inline-block;
        @include actionButtons($textColorRed);
        position: relative;
        left: 50%;
        align-self: center;
        cursor: pointer;
    }
    
    .task__holder--undo {
        @include actionButtons($boxColorLightBlue);
        position: relative;
        left: 40%;
        align-self: center;
        cursor: pointer;
    }
}