.task__element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $textColorGrey;
    margin: 20px 40px 0px 40px;
}

.task__desc {
    font-family: $baseFont;
    color: $textColorWhite;
    font-size: $mobileSizeHeading;
}

.task__element--complete{
    display: inline-block;
}

.task__element--complete {
    display: inline-block;
    border: 2px solid black;
    width: 20px;
    height: 20px;
}

.task__element--delete {
    display: inline-block;
    border: 2px solid black;
    width: 20px;
    height: 20px;
}
