.app__date {
    color: $textColorWhite;
    font-family: $baseFont;
    font-size: $mobileSizeHeading;
}

.app__top-holder {
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: $boxColorLightBlue;
}

.app__tasks-active {
    margin-left: 30px;
    position: relative;
    bottom: 10px;
    font-family: $baseFont;
    font-size: $mobileSizeParagraph;
    color: $textColorBlue;
}

.app__tasks--state{
    margin-left: 0px;
    color: $textColorGrey;
    cursor: pointer;
    font-size: $mobileSizeHeading;
}

.app__title {
    color: $textColorWhite;
    font-family: $baseFont;
    font-size: $mobileSizeHeading;
}

.app__tasks--state:hover {
    color: $textColorWhite;
}

.app__error {
    font-family: $baseFont;
    font-size: $mobileSizeParagraph;
    color: $textColorRed;   
}

@media only screen and (min-width: 600px) {
    .app__tasks {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .app__tasks--state {
        margin-left: 50px;
        color: $textColorGrey;
        cursor: pointer;
    }
}