.app__date {
    display: inline-block;
    color: $textColorWhite;
    font-family: $baseFont;
    font-size: $mobileSizeHeading;
}

.app__top-holder {
    border-bottom: 2px solid $boxColorLightBlue;
    background-color: $boxColorLightBlue;
}

.app__tasks-active {
    margin-left: 30px;
    position: relative;
    bottom: 10px;
    font-family: $baseFont;
    font-size: $mobileSizeParagraph;
    color: $textColorBlue;
}

.app__tasks--state{
    float: right;
    margin-right: 10px;
    color: $textColorGrey;
    cursor: pointer;
    font-size: $mobileSizeHeading;
}

.app__title {
    display: inline-block;
    
    color: $textColorWhite;
    font-family: $baseFont;
    font-size: $mobileSizeHeading;
}

.app__tasks--state:hover {
    color: $textColorWhite;
}

.app__error {
    font-family: $baseFont;
    font-size: $mobileSizeParagraph;
    color: $textColorRed;   
}