/* Colors */
$backgroundColor: #393F49;
$boxColorLightBlue: #1EB4F5;
$textColorWhite: white;
$textColorGrey: #ABAFB3;
$textColorBlue: #1C8CBC;

/* Fonts */
$baseFont: 'Poppins', sans-serif;

/* Text Sizes */
$mobileSizeHeading: 1.05rem;
$mobileSizeParagraph: 0.75rem;