/* Colors */
$backgroundColor: #393F49;
$boxColorLightBlue: #1C7CD5;
$textColorWhite: white;
$textColorGrey: #ABAFB3;
$textColorBlue: #1C8CBC;
$textColorRed: red;
$textColorGreen: green;

/* Fonts */
$baseFont: 'Source Sans Pro', sans-serif;
$formFont: 'Source Sans Pro', sans-serif;

/* Text Sizes */
$mobileSizeHeading: .75rem;
$mobileSizeParagraph: 0.55rem;