/* Colors */
/* Fonts */
/* Text Sizes */
.app__date {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
}

.app__top-holder {
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1C7CD5;
}

.app__tasks-active {
  margin-left: 30px;
  position: relative;
  bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.55rem;
  color: #1C8CBC;
}

.app__tasks--state {
  margin-left: 0px;
  color: #ABAFB3;
  cursor: pointer;
  font-size: 0.75rem;
}

.app__title {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
}

.app__tasks--state:hover {
  color: white;
}

.app__error {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.55rem;
  color: red;
}

@media only screen and (min-width: 600px) {
  .app__tasks {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .app__tasks--state {
    margin-left: 50px;
    color: #ABAFB3;
    cursor: pointer;
  }
}

.app__form-wrapper {
  margin: 20px 40px 0px 40px;
  border-bottom: 2px solid #ABAFB3;
}

.app__form-wrapper .app__form {
  margin-bottom: 30px;
}

.app__form-wrapper .app__form--input {
  margin-top: 50px;
  border-radius: 3px;
  padding: 15px 500px 15px 10px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1C7CD5;
  color: white;
  font-size: 0.75rem;
}

.app__form-wrapper .app__form--input::-webkit-input-placeholder {
  color: white;
  font-size: 1.05rem;
  padding-bottom: 20px;
}

.app__form-wrapper .app__form--input:-ms-input-placeholder {
  color: white;
  font-size: 1.05rem;
  padding-bottom: 20px;
}

.app__form-wrapper .app__form--input::-ms-input-placeholder {
  color: white;
  font-size: 1.05rem;
  padding-bottom: 20px;
}

.app__form-wrapper .app__form--input::placeholder {
  color: white;
  font-size: 1.05rem;
  padding-bottom: 20px;
}

.app__form-wrapper .app__form--submit {
  border-radius: 3px;
  margin-top: 60px;
  border: 2px solid #1C7CD5;
  background-color: #1C7CD5;
  text-align: center;
  width: 100px;
  padding: 25px 80px;
  font-size: 1.25rem;
  cursor: pointer;
}

.task__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #ABAFB3;
  margin: 20px 40px 0px 40px;
}

.task__desc {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
}

.task__holder--complete {
  cursor: pointer;
}

.task__holder--complete:hover {
  color: green;
}

.task__holder--delete {
  cursor: pointer;
}

.task__holder--delete:hover {
  color: red;
}

.task__holder--undo {
  cursor: pointer;
}

.task__holder--undo:hover {
  color: green;
}

.credit__text {
  text-align: center;
}

.credit__text--github {
  color: #ABAFB3;
}

/* Base Attributes */
.app {
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */